<div class="o-footer-navigation">
	<div class="o-footer-navigation__wrapper">

		<div class="o-footer-menu">
			<nav id="site-navigation--footer" class="site-navigation--footer">
				<ul class="nav">
					<li id="nav-item-footer-01" class="nav-item">
						<a class="nav-link active" href="#">Profile</a>
					</li>
					<li id="nav-item-footer-02" class="nav-item">
						<a class="nav-link" href="#">Portfolio</a>
					</li>
					<li id="nav-item-footer-03" class="nav-item">
						<a class="nav-link" href="#">Career</a>
					</li>
					<li id="nav-item-footer-04" class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</nav>
		</div>

	</div>
</div><!--footer-navigation-->