<nav id="o-top-navigation" class="o-top-navigation">
    <div class="o-top-navigation__wrapper">
        <div class="o-top-menu">
            <nav id="site-navigation--top" class="site-navigation--top navbar navbar-expand-md justify-content-end">
                <ul class="navbar-nav">
                    <li id="nav-item-top-01" class="nav-item">
                        <a class="nav-link sign-in" href="/webapp">ĐĂNG NHẬP</a>
                    </li>
                    <li id="nav-item-top-02" class="nav-item">
                        <a class="nav-link sign-up" href="/webapp">ĐĂNG KÝ</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</nav>

