<div id="o-comments" class="o-comments">

	<div class="o-comments-header">
		<div class="o-comments-title">
			<h6>One Reply to "{{ page.title }}"</h6>
		</div>
	</div>

	<div class="o-comments-body">
		<ul class="o-comments-list">
			<li class="o-comments-item even">

				<div class="o-comments-meta">
					<div class="o-comment-author">
						<img class="o-comment-avatar" width="100" height="100" alt="Avatar"/>
						<h6>James Anderson</h6>
					</div>
					<div class="o-comment-date">
						<time datetime="2018-05-10T03:10:37+00:00">May 10, 2018</time>
					</div>
				</div>

				<div class="o-comments-content">
					<p>Nullam imperdiet est a augue lacinia, hendrerit euismod leo pellentesque. Aliquam sit amet lacus urna. Morbi ullamcorper mollis justo. Quisque sed facilisis augue. </p>
				</div>

				<div class="o-comments-reply">
					<a href="#">Reply</a>
				</div>
			</li>
		</ul>
	</div>

	<div class="o-comments-footer">

	</div>

	<div id="respond" class="comment-respond">

		<h6>Leave a Reply</h6>

		<form action="#" method="post" id="o-comments-form" class="o-comments-form">

			<p class="o-comment-form-row">
				<label for="comment">Name</label>
				<input type="text" class="o-comments-input" />
			</p>

			<p class="o-comment-form-row">
				<label for="comment">Email</label>
				<input type="text" class="o-comments-input" />
			</p>

			<p class="o-comment-form-row">
				<label for="comment">Message</label>
				<textarea id="comment" class="o-comments-textarea" name="comment" cols="45" rows="auto" maxlength="65525" required="required"></textarea>
			</p>

			<p class="form-submit">
				<input name="submit" id="submit" class="submit" value="Post Comment" type="submit">
			</p>

		</form>
	</div>

</div>