/**
 * NAVIGATION
 * -------------------------------------------------- */

/* Top Navigation */
.o-top-navigation {
  background-color: $blue;

  &__wrapper {

  }

  .o-top-menu {

  }

  nav.site-navigation--top {
    padding: 0;
  }

  ul.navbar-nav {
    li.nav-item {
      margin-bottom: 0;

      a.nav-link {
        font-size: 12px;
        font-weight: 700;
        color: $white;
        transition: all 200ms ease;

        &:hover,
        &:active,
        &:focus {
          color: rgba(255, 255, 255, 0.75);
          text-decoration: none;
        }
      }
    }
  }
}

/* Main Navigation */
.o-main-navigation {

  .o-main-navigation__wrapper {

    @media (max-width: 767px) {
      padding: 30px 0;
    }
  }

  .o-main-menu {
    @media (max-width: 767px) {
      display: none;
    }
  }

  nav.site-navigation--main {
    padding: 0;
    min-height: 7.5rem; /*120px*/
  }

  ul.navbar-nav {
    li.nav-item {
      display: flex;
      margin: 0 2rem 0 0;
      align-items: center;

      &:last-child {
        margin-right: 0;
      }

      a.nav-link {
        padding: 0;
        font-weight: 700;
      }

      &.support {
        background-color: #dc3545;
        border-radius: 30px;
        padding: 16px 30px;
        font-size: 24px;
        color: $white;

        a {
          margin-left: 8px;
          line-height: 1;
          font-size: 24px;
          font-weight: 700;
          display: inline-block;
          color: $white;

          &:hover,
          &:focus,
          &:active {
            text-decoration: none;
            color: $white;
          }
        }
      }
    }
    li.dropdown {
      .dropdown-menu {

        a.dropdown-item {

        }
      }
    }
  }
}

/* Footer Navigation */
.o-footer-navigation {

  &__wrapper {

  }

  .o-footer-menu {
    .nav {
      flex-direction: column;
    }
  }
}

