/**
 * Elements
 * -------------------------------------------------- */

/* Typography */

/* Bootstrap Button */

.btn {
  border: none;
  border-radius: 0.3125rem;
  padding: 1.0625rem 1.875rem;
  font-family: $headings-font-family;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-primary {
  background-color: $primary;
  color: $white;
}

.btn-secondary {
  background-color: $secondary;
  color: $primary;
}

.btn-success {

}

.btn-danger {

}

.btn-warning {

}

.btn-info {

}

/* Button Sizes */

.btn-sm {
  padding: 0.6875rem 1.5625rem 0.5625rem 1.5625rem; /*11px 25px 9px 25px*/
  font-size: 0.75rem; /*12px*/
}

.btn-md {
  padding: 1rem 1.875rem 0.875rem 1.875rem; /*16px 30px 14px 40px*/
  font-size: 0.875rem; /*14px*/
}

.btn-lg {
  padding: 1.3125rem 2.8125rem 1.1875rem 2.8125rem; /*21px 45px 19px 45px*/
  font-size: 1rem; /*16px*/
}

/* Listing */

.o-list {

  &__title {

  }

  ul {
    li {
      a {

      }
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}

.o-list-ul {
  ul {
    li {
      list-style-type: none;
      position: relative;

      a {
        font-weight: 700;
      }

      &:before {
        content: '\f21b';
        font-family: Ionicons;
        font-size: 0.3125rem; /*5px*/
        font-weight: normal;
        position: absolute;
        top: 0.5625rem; /*9px*/
        left: -1.0625rem; /*-17px*/
        line-height: 1;
        color: $gray-500;
      }

      &:not(:last-child) {
        margin-bottom: 17px;
      }
    }
  }

  &--unstyled {
    ul {
      padding: 0;

      li {
        list-style-type: none;

        a {
          font-weight: 700;
        }

        &:before {
          display: none;
        }

        &:not(:last-child) {
          margin-bottom: 17px;
        }
      }
    }
  }
}

.o-list-ol {
  ol {
    counter-reset: item;

    li {
      list-style-type: none;
      position: relative;

      a {
        margin-left: 0.75rem; /*12px*/;
        font-weight: 700;
      }

      &:before {
        content: counter(item);
        font-family: $font-family-base;
        counter-increment: item;
        width: 1.25rem; /*20px*/
        height: 1.25rem; /*20px*/
        background-color: $primary;
        padding-top: 0.3125rem; /*5px*/
        border-radius: 50%;
        font-size: 0.6875rem; /*11px*/
        font-weight: 700;
        text-align: center;
        line-height: 1;
        color: #fff;
        position: absolute;
        top: 0.0625rem; /*1px*/
        left: -1.0625rem; /*-17px*/
      }

      &:not(:last-child) {
        margin-bottom: 17px;
      }
    }
  }

  &--unstyled {
    ol {
      padding: 0;

      li {
        list-style-type: none;

        a {
          font-weight: 700;
        }

        &:before {
          display: none;
        }

        &:not(:last-child) {
          margin-bottom: 17px;
        }
      }
    }
  }
}

/* System Background */

.bg-white {
  background-color: $white;
  color: $primary;
}

.bg-black {
  background-color: $black;
  color: $white;
}

.btn-light {
  background-color: $gray-100;
  color: $primary;
}

.btn-dark {
  background-color: $gray-900;
  color: $white;
}

.bg-teal {
  background-color: $teal;
  color: $white;
}

.bg-yellow {
  background-color: $yellow;
  color: $primary;
}

.bg-green {
  background-color: $green;
  color: $white;
}
