<section id="o-page-top" class="o-page-top">
	<div id="o-parallax-parent" class="o-page-top__wrapper">
		<div class="container">
			<div class="row">
				<div class="col-12 o-column d-flex flex-column justify-content-center">
					<div class="o-page-top__block">
						<div class="o-page-top__title">
							<h1 class="title o-underline--1">{{ page.title }}</h1>
						</div>
						<div class="o-page-top__caption">
							<p>{{ page.description }}</p>
						</div>
					</div>
					<div class="o-page-top__block">
						<div class="o-breadcrumb">
							<div class="o-breadcrumb__wrapper">
								<ul class="list-inline list-unstyled">
									<li class="list-inline-item"><a href="/">Trang Chủ</a></li>
									<li class="list-inline-item"><span>{{ page.title }}</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="o-parallax-child"></div>
	</div>
</section><!--page-top-->