/**
 * Blog
 * -------------------------------------------------- */

/* Overall on Blog Page */
.o-blog {
  .o-page-top {

  }
}

/* Blog Section */
.o-p-blog {

  /* Overall on Blog Page */
  &__wrapper {
    .o-column {
      margin-bottom: 48px;

      &.first {
        padding-bottom: 48px;
        border-bottom: 5px solid $blue;
        margin-bottom: 86px;

        @media (max-width: 992px) {
          padding-bottom: 28px;
          margin-bottom: 66px;
        }

        figure {
          margin-bottom: 0;

          @media (max-width: 992px) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  &__block {

  }

  &__thumbnail {
    figure {
      margin-bottom: 20px
    }
  }

  &__topic {

  }

  &__title {
    margin-top: 13px;
    margin-bottom: 2px;

    .title {
      font-weight: 300;
      line-height: 2rem;
      text-transform: capitalize;
    }
  }

  &__summary {
    h6 {
      font-size: $font-size-base;
      font-weight: normal;
      color: $black;
    }
    p {
      margin-bottom: 0;
    }
  }

  &__date {
    display: inline-block;
    padding: 9px 12px;
    background-color: $red;
    font-weight: 700;
    line-height: 1;
    color: $white;
  }

}
