/**
 * Footer
 * -------------------------------------------------- */

footer.site-footer {
  background-color: #0f2159;

  .o-footer-top {

  }

  .o-footer-main {
    padding: 6rem 0;

    .title {
      color: $white;
      font-size: 30px;
      text-transform: capitalize;
      font-weight: 200;
      margin-bottom: 6px;
    }

    p {
      color: rgba(255, 255, 255, 0.75);
      margin-bottom: 0;
    }

    &__address {

      &.tpvn {
        padding-bottom: 21px;
        margin-bottom: 21px;
        border-bottom: 1px dotted rgba(255, 255, 255, 0.25);
      }
    }

    &__about {

    }

    &__social {
      .title {
        margin-bottom: 20px;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style-type: none;

          a {
            padding: 11px 19px;
            background-color: $white;
            border-radius: 50%;
            font-size: 24px;
            line-height: 1;
            color: #0f2159;
          }
        }
      }
    }
  }

  .o-footer-bottom {
    background-color: #0f2159;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1.2rem 0;

    /*Copyright Override*/
    .o-copyright {

      p {
        margin-bottom: 0;
        font-size: 0.875rem;
        color: $white;
      }
    }

    .o-footer-navigation {
      /* in navigation.scss */
    }
  }
}