/**
 * Footer
 * -------------------------------------------------- */

footer.site-footer {
  background-color: lighten($black, 5);

  .o-footer-top {

  }

  .o-footer-main {
    padding: 6rem 0;

    .title {
      color: $white;
      font-size: 30px;
      text-transform: capitalize;
      font-weight: 300;
      margin-bottom: 6px;
    }

    p {
      color: rgba(255, 255, 255, 0.75);
      margin-bottom: 0;
    }

    &__address {
      margin-bottom: 21px;
    }

    &__about {

    }

    &__social {

    }
  }

  .o-footer-bottom {
    background-color: $black;
    padding: 1rem 0;

    /*Copyright Override*/
    .o-copyright {
      p {
        margin-bottom: 0;
        font-size: 0.75rem;
        color: $white;
      }
    }

    .o-footer-navigation {
      /* in navigation.scss */
    }
  }
}