/**
 * Carousel
 * -------------------------------------------------- */

.o-carousel {
  background: radial-gradient(at bottom, #0f97c9, #13284d);

  &__wrapper {
    color: $white;
    overflow: hidden;
  }

  &__left {
    padding: 120px 0;
  }

  &__right {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &__logo {
    img {

      max-width: 18.75rem; /*300px*/
    }
  }

  &__title {
    margin-bottom: 26px;

    h1 {
      margin-bottom: -2px;
      text-transform: uppercase;
      font-weight: 900;
      color: $white;
    }
  }

  &__sub {
    margin-bottom: 46px;

    p {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.7;
    }
  }

  &__action {
    a {
      display: inline-block;
      margin-right: 16px;
    }
    img {
      width: 160px;
    }
  }

  &__picker {
    position: relative;

    p {
      margin-bottom: 0;
      font-family: $headings-font-family;
      font-weight: 300;
      line-height: 1.7;
      font-size: 14px;
    }

    &:after {
      content: "\f0d7";
      position: absolute;
      right: 48px;
      bottom: -21px;
      font-family: "Font Awesome\ 5 Free";
      font-size: 36px;
      font-weight: 900;
      line-height: 1;
      color: $black;
    }

    &.red {
      width: 300px;
      background-color: #cd3649;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 25%;
      left: 0;
      padding: 12px 16px;
      border-radius: 5px;

      &:after {
        color: #cd3649;
      }
    }

    &.blue {
      width: 300px;
      background-color: #243580;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 35%;
      right: 0;
      padding: 12px 16px;
      border-radius: 5px;

      &:after {
        left: 48px;
        right: unset;
        color: #243580;
      }
    }

    &.yellow {
      width: 300px;
      background-color: #e89b1c;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
      position: absolute;
      bottom: 45%;
      left: 0;
      padding: 12px 16px;
      border-radius: 5px;

      &:after {
        color: #e89b1c;
      }
    }
  }
}