/**
 * Media
 * -------------------------------------------------- */

.o-media-boxes {

  &__wrapper {
    padding: 16px 0;

    @media (max-width: 992px) {
      padding: 48px 0;
    }
  }

  &__left {

  }

  &__right {
  }

  &__iframe {
    margin-bottom: 0;

  }

  &__title {
    .title {
      margin-bottom: 16px;
      font-size: 48px;
      font-weight: 300;
      text-transform: inherit;
      color: $gray-900;
    }
  }

  &__summary {
    .summary {
      margin-bottom: 0;
      font-size: 16px;
      font-family: $headings-font-family;
      font-weight: 300;
    }
  }
}