/**
 * Misc
 * -------------------------------------------------- */

/* Message */
.o-message {
  @media (max-width: 767px) {
    text-align: center;
  }
  p {
    margin: 0;
    font-size: 0.75rem; /*12px*/
    text-transform: capitalize;
    color: $white;
  }
}

/* Branding */
.o-branding {
  @media (max-width: 992px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  img {
    max-width: 10rem; /*160px*/
  }
}

/* Search */
.o-search {
  position: relative;

  @media (max-width: 767px) {
    display: none;
  }

  i {
    position: absolute;
    right: 1.25rem; /*20px*/
    top: 50%;
    transform: translateY(-50%);
    color: $primary;
  }
  input {
    width: 100%;
    border: none;
    border-radius: 25px;
    background-color: darken($white, 90);
    color: $white;

    &:focus,
    &:active {
      background-color: darken($white, 80);
      color: $primary;
    }
  }
}

/* Git Widget */
.o-git {
  margin-top: 50px;

  &__wrapper {

  }

  ul {
    li {

    }
  }
}

/* Copyright */
.o-copyright {
  font-size: 0.875rem;
  p {
    margin-bottom: 0;
  }
}