/**
 * Service Boxes
 * -------------------------------------------------- */

.o-services-boxes {
  margin-bottom: 68px;

  &__wrapper {
    text-align: center;
  }

  &__block {
    margin-bottom: 48px;
  }

  figure {
    display: inline-flex;
    background-color: transparent;
    width: 150px;
    height: 150px;
    margin-bottom: 16px;
  }

  &__title {
    margin-bottom: 9px;

    .title {
      font-size: 24px;
      font-weight: 300;
      text-transform: capitalize;
      color: $black;
    }
  }

  &__summary {
    p {
      margin-bottom: 0;
    }
  }
}
