/**
 * Sign In
 * -------------------------------------------------- */

.o-sign-in {

  &__wrapper {
    background-color: $gray-100;
    padding: 82px 0;

    @media (max-width: 992px) {
      padding: 62px 0;
    }
  }

  &__title {
    margin-bottom: 12px;

    .title {
      font-size: 48px;
      font-weight: 200;
      text-transform: inherit;
      margin-bottom: 0;
      color: $gray-900;
    }
  }

  &__summary {
    margin-bottom: 48px;

    p {
      margin-bottom: 0;
    }
  }

  &__action {
    a.btn {

    }
  }
}