/**
 * Welcome
 * -------------------------------------------------- */

.o-welcome {

  &__wrapper {
    border-bottom: 1px dotted #ccc;
    padding: 64px 0;
  }

  &__title {

    .title {
      margin-bottom: 16px;
      font-size: 48px;
      font-weight: 300;
      text-transform: inherit;
      color: $gray-900;
    }

    .summary {
      margin-bottom: 0;
      padding: 0 48px;
      font-size: 30px;
      font-weight: 200;
      color: $gray-900;

      @media (max-width: 992px) {
        padding: 0;
      }
    }
  }
}