<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include _site/head.html %}

<body class="o-body o-page {{ page.slug }}">

<div class="o-wrapper">

	<div id="page" class="hfeed site">
		{{ content }}
	</div>
</div>

</body>
<script defer src="vendors/font-awesome/js/fontawesome-all.js"></script>
<script type="text/javascript" src="js/index.min.js"></script>
</html>