---
layout: blog
sidebar: off
page-top: on
---

<article class="hentry post format-standard">
    <div class="row no-gutters">
        <div class="col-12 o-column">

            <div class="entry-featured-image">
                <figure>
                    <img class="lazyload" data-src="{{ page.featured }}" alt="{{ page.title }}">
                </figure>
            </div>

            <header class="entry-header">
                <div class="entry-meta">
                    <p>{{ page.date }}</p>
                </div>
                <div class="entry-title">
                    <h3>{{ page.title }}</h3>
                </div>
            </header>

            <div class="entry-content">
                {{ content }}
            </div>

            <footer class="entry-footer">

            </footer>

        </div>
    </div>
</article>

<!-- Blog Comment is disabled -->

<!--!site-content-->