---
layout: blog
sidebar: on
---

<article class="hentry post format-standard">
	<div class="row no-gutters">
		<div class="col-12 o-column">

			<header class="entry-header">
				<div class="entry-meta">
					<p>{{ page.date }}</p>
				</div>
				<div class="entry-title">
					<h3>{{ page.title }}</h3>
				</div>
			</header>
			<div class="entry-content">
				{{ content }}
			</div>
			<footer class="entry-footer">

			</footer>

		</div>
	</div>
</article>

{% include _blog/comments.html %}
<!--!site-content-->